/* 
font-family: 'Dancing Script', cursive;
font-family: 'Raleway', sans-serif;
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bright-color: #F3F0EA;
    --dark-color: #51392D;
    --mid-color: #B89676;
    --input-color: #E3DBC9;
  }

body {
    background-color: var(--bright-color);
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
}

h1, h2 {
    font-family: 'Dancing Script', cursive;
    color: var(--dark-color);
}

h1 {
    font-size: 4.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

input,
select,
button {
    font-family: 'Raleway', sans-serif;
}

.header-regular {
    background-color: var(--mid-color);
}

.header-regular a {
    color: var(--dark-color);
}

.header-regular a:hover,
.header-regular a:focus {
    color: var(--mid-color);
}

.header-ul {
    list-style: none;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.order-h1 {
    margin-bottom: 3rem;
}

.order-input-label {
    display: block;
    font-size: 1.25rem;
    margin-bottom: .75rem;
}

.order-input-width {
    width: 100%;
}

.order-input-margin {
    margin-bottom: 2.5em;
}

.order-input {
    height: 2.5rem;
    border-radius: 8px;
    border: none;
    background-color: var(--input-color);
    font-size: 1rem;
    padding: 0 1rem;
}

/* prevent chrome from changing .order-input background-color on focus as well */
.order-input:-webkit-autofill,
.order-input:-webkit-autofill:hover,
.order-input:-webkit-autofill:focus,
.order-input:-webkit-autofill:active {
    /* -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out; */
    -webkit-box-shadow: 0 0 0 30px var(--input-color) inset !important;
}

.order-button {
    margin: 0rem auto 5rem;
}

.button {
    display: block;
    border-radius: 100px;
    font-size: 1.25rem;
    background-color: var(--mid-color);
    border: none;
    padding: .60rem 2rem;
    transition: background-color 250ms ease-out, color 250ms ease-out;
}

.button-center {
    margin: 0 auto;
}

.order-button:hover,
.order-button:focus {
    background-color: var(--dark-color);
    color: var(--bright-color);
    cursor: pointer;
}

.footer {
    background-color: var(--dark-color);
    color:var(--bright-color);
    padding: 2em 0 4em;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-ul-wrapper {
    text-align: center;
    margin-bottom: 2em;
}

.footer-ul-li {
    margin-bottom: 0.5em;
}

.footer-ul-li a {
    color: var(--bright-color);
}

.footer-ul-li a:hover,
.footer-ul-li a:focus {
    color: var(--mid-color);
}

.footer-form-wrapper {
    text-align: center;
}

.footer-form-label {
    display: block;
    margin-bottom: 0.5em;
}

.footer-form-input-margin {
    margin-bottom: 1em;
}


@media screen and (min-width: 500px) {
    
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1rem;
    }

    .wrapper {
        width: 960px;
        margin: 0 auto;
    }
    
}