body{
    background-color: #f5f0e9;
}
img {
    width: 100%;
    height: auto;
}
.header-regular {
    display: inline-block;
    /* border: 2px solid black; */
    background-color: #51392D;
    width: 100%;
    text-align: center;
}
.header-regular-logo{
    color: #F3F0EA;
    font-family: 'Dancing Script';
    font-size: 3.5em;
}
.header-regular-nav {

}
.wrapper {
    width: 960px;
    margin: 0 auto;
}
.coffeetypes h1 {
    display: block;
    font-size: 5em;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    color:#51392D;
}
.coffeetypes h2 {
    font-family: 'Dancing Script', cursive;
    color: #51392D;
    font-size: 2.5em;
}
.coffeetypes p{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    color:#51392D;
    }
.coffeetypes section{
    display: inline-flex;
    
}
.arabica {
    display: inline-flex;
}

.canephora-robusta{
    display: inline-flex;
}
.excelsa {
    display: inline-flex;
}
.liberica {
    display: inline-flex;
}

footer{
    
}