body{

}
header{

}
.coffeetypes h1 {
    display: block;
    font-size: 4.5em;
    margin-block-start: -1.33em;
    margin-block-end: -0.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    color:#51392D;
}
.coffeetypes h2 {
    font-family: 'Dancing Script', cursive;
    color: #51392D;
    font-size: 2em;
}
.coffeetypes section{

}
.arabica div{

}
.arabica h2{

}
.arabica p{

}
.canephora-robusta div{

}
.canephora-robusta h2{

}
.canephora-robusta p{

}
.excelsa div{

}
.excelsa h2{

}
.excelsa p{

}
.liberica div{

}
.liberica h2{

}
.liberica p{

}
footer{
    
}